.mainheader{
    background-color:  #a49797;
    background-repeat:space;
    background-size: cover;
    background-image: url(/myFolder/header.png);
    height: 25vh;
    width:100vw;
  }
  .headingtitle{
    border: 1px solid #c4b7df;
    width: 10%;
    background-color: #462688;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
  
.headerTitleDiv{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    margin:10px;
}
.liHeader{
    width: 100px;
    border: 4px solid #c2a0ef;
    padding:10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #a574f7;
}
.liHeader:hover{
    background-color: #5d00ff; 
    cursor: pointer;
}
.liHeader:active{
    background-color: #a574f7; 
}
.headerNav{
margin-right: 10px;
}
.listMenuHeader{
    display: flex;
    justify-content: flex-end;
}
.logoMain{
    position: fixed;
    width: 71px;
    right: 68px;
    top: 10px;
    mix-blend-mode: multiply;
}
.mainContent{
    border: 1px solid;
    display: flex;
    flex: 1 2 auto;
    justify-content: space-around;
    height: 65vh;
}
.leftPanal{

    border:1px solid red;
    margin-left:10px;

}
.bodyMain{
    flex: 2 auto;
    margin-right:0px;
    display: flex;
}
.dropDownLeftPanal{
    position: relative;
    top: 19px;
    right: 100px;
}
.myImageDiv{
    padding: 100px;
    width: 100px;
    height: 30px;
}
.myimageClass{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .listMenuHeader{
        display: inline;
        justify-content: flex-end;
    } 
    .liHeader{
        width: 30px;
    }
    .leftPanal{
        display: none;
    }
}